main{
    display: flex;
}

h1{
    text-align: center;
    color:#1f1a53;
    margin-left: 67%;
    margin-top: 30%;
    font-family: 'Dancing Script', cursive;
}
label{
    font-family: 'Dancing Script', cursive;
    color:#1f1a53;
}

.content {
    border-radius: 5px;
    background-color: #f2f2f2;
    width: 60%;
    height: 100vh;
    padding: 5%; 


}

.form{
    width:30%;
    border: 1px none solid;
    background-color: white;
    position: absolute;
    left: 33%;
    padding: 1%;
    border-radius: 4%;


}
a{
    color:#1f1a53;
    padding-left: 52%;
    text-decoration: none;
    font-family: 'Dancing Script', cursive;
}
a:hover{
    color:darkgray;
}

input[type=text], [type=mdp] {
    width: 100%;
    padding: 12px;
    border: 1px solid #1f1a53;
    border-radius: 8px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    
}

input[type=submit] {
    background-color: #1f1a53;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-family: 'Dancing Script', cursive;
    font-weight: bolder;
}

input[type=submit]:hover {
    background-color: darkgrey;
}

.blue_content{
    background-color: #1f1a53;
    width: 40%;
    height: 100vh;
    padding: 5%;

}